.button-wrapper {
  display: block;
  max-width: 160px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 14px 16px;
  transition: 0.3s;
  text-align: center;
  border: none;
  outline: none;
}
.primary {
  color: #fff;
  background-color: var(--primary);

  &:hover {
    background-color: #333;
  }
}

.outline {
  max-width: 175px;
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--primary);
    color: #fff;
  }
}

.medium {
  max-width: 220px !important;
  padding: 8px 0px;
  width: 100%;
  border-radius: 4px;
}

.large {
  max-width: 100% !important;
  padding: 8px 0px;
  width: 100%;
  border-radius: 4px;
}
