.wrapper {
  text-align: center;
  margin-top: 70px;
}
.section-title__heading {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.underline {
  display: block;
  width: 66px;
  height: 2px;
  background-color: var(--primary);
  margin: auto;
  margin-bottom: 16px;
}
