.product__detail {
  &__wrapper {
    margin-top: 40px;
    display: flex;
    gap: 0px 30px;
  }

  &__box {
    max-width: 555px;
    width: 100%;

    .react-multiple-carousel__arrow {
      background-color: transparent;
      &::before {
        font-weight: bold;
        color: #333;
        font-size: 25px;
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__thumbnail {
    width: 120px;
  }

  &__content {
    padding: 20px;
    border: 1px solid #ebebeb;
  }

  &__title {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #333;
    margin-top: 6px;
  }

  &__tags {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #333;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin-top: 14px;
    margin-bottom: 10px;
    &__star {
      color: #ffdd20;
      font-size: 12px;
      display: flex;
      gap: 0px 3px;
    }

    & span {
      color: #9e9e9e;
      font-size: 13px;
      text-transform: capitalize;
      margin-left: 10px;
    }
  }

  &__price__new {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: var(--primary);
    margin-right: 16px;
  }

  &__price__old {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: line-through;
    color: #868686;
  }

  &__unit__price h4 {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
  }

  &__info {
    padding-bottom: 28px;
    border-bottom: 1px solid #ebebeb;

    &__single {
      .title {
        font-family: IBM Plex Sans, sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
        color: #333;

        span {
          font-family: IBM Plex Sans, sans-serif;
          font-size: 13px;
          font-weight: 300;
          line-height: 24px;
          color: var(--primary);
        }
      }
      .category {
        font-weight: 700 !important;
      }
    }
  }
  &__description {
    padding: 24px 0px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
  &__size {
    border-top: 1px solid #ebebeb;
    padding-top: 22px;
  }

  &__color {
    padding-top: 16px;
    padding-bottom: 10px;
  }

  &__option {
    font-size: 15px;
    line-height: 14px;
  }

  &__qty {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    color: #222;
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 0px 20px;

    input[name="qty"] {
      border: 1px solid #ccc;
      padding: 8px 10px 6px 30px;
      max-width: 80px;
      width: 100%;
      border-radius: 0;
      color: #333;
      font-size: 16px;
      border-radius: 4px;
    }
  }

  &__button {
    margin-top: 25px;
  }
  &__wishlist {
    display: flex;
    align-items: center;
    gap: 0px 30px;
    margin-top: 35px;
  }
  &__favorite {
    button[type="button"] {
      background-color: transparent;
      outline: none;
      border: none;
      color: #333;
      padding: 0;

      &:focus {
        background-color: transparent;
      }
    }
    img {
      width: 15px;
      display: inline-block;
    }

    & a,
    &__title {
      font-family: IBM Plex Sans, sans-serif;
      font-size: 13px;
      font-weight: 300;
      line-height: 30px;
      color: #333;

      &:hover {
        color: var(--primary);
      }
    }

    & svg {
      font-size: 13px;
    }

    &__icon {
      margin-right: 6px;
    }
  }
  &__feature__wrapper {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &__social {
    margin-top: 20px;
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
    }

    &__share {
      display: flex;
      align-items: center;
      gap: 0px 10px;
      svg {
        font-size: 16px;
        padding: 12px;
        border: 1px solid #ddd;

        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }
      .fa {
        &-facebook {
          color: #4867aa;
          &:hover {
            background-color: #4867aa;
          }
        }
        &-twitter {
          color: #1da1f2;
          &:hover {
            background-color: #1da1f2;
          }
        }
        &-google {
          color: #dd5144;
          &:hover {
            background-color: #dd5144;
          }
        }
        &-pinterest {
          color: #bd081b;
          &:hover {
            background-color: #bd081b;
          }
        }
      }
    }
  }

  &__custom {
    margin-top: 20px;
    h3 {
      font-family: IBM Plex Sans, sans-serif;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      font-style: normal;
    }

    &__payment {
      display: flex;
      align-items: center;
      gap: 0px 4px;
      margin-top: 4px;
      padding-bottom: 16px;
      img {
        width: 52px;
      }
    }
  }
}

.tab {
  &__description {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
  }
}
.tab__reviews {
  &__comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    h3 {
      font-size: 14px;
      line-height: 25px;
      font-weight: 600;
    }

    select {
      font-size: 12px;
      line-height: 22px;
      color: #4b4f56;
      font-weight: bold;
      background-color: #f5f6f7;
      border: 1px solid #ccd0d5;
      padding: 8px 10px;
      border-radius: 4px;
    }
  }

  &__addcomments {
    display: flex;
    align-items: flex-start;
    gap: 0px 8px;
    padding: 25px 0px;
    border-bottom: 1px solid #e9ebee;
    border-top: 1px solid #e9ebee;
  }
  &__avatar {
    width: 56px;
    display: inline-block;
  }
  &__input__box {
    width: 100%;
  }
  &__input__add {
    flex-grow: 1;
    font-size: 16px;
    padding: 15px 20px;
    width: inherit;
    border: 1px solid #d3d6db;
    border-radius: 4px;
    &:focus {
      border: 1px solid #d3d6db;
      border-radius: 4px;
    }
  }

  &__facebook {
    font-size: 12px;
    font-weight: 500;

    svg,
    a {
      color: #385898;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__post {
    display: block;
    text-align: right;
    padding-top: 12px;
    button {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}
