.wrapper-auth-form {
  text-align: center;
  display: flex;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.6);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/public/sliders/Slider-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.auth-form-container {
  border: 2px solid white !important;
  background: transparent;
  backdrop-filter: blur(25px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  label {
    text-align: left;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    color: #7439db;
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;

    &:focus {
      border: none;
      outline: none;
      box-shadow: 0 2px 5px #00000014;
    }
  }

  button[class="auth"] {
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    padding: 16px 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #7439db;
      transition: all 0.3s ease-out;
      box-shadow: 0 2px 5px #00000014;
    }
  }

  .link-btn {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;

    &:hover {
      color: #7439db;
      text-shadow: 1px 1px 3px rgba(255, 255, 255);
    }
  }
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 40px;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
