.container-slider {
  max-width: 100%;
  height: 750px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}
.slide img {
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center right;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background-color: #d7d7d7;
}
.dot.active {
  background-color: #abd373;
}
.hero-slider {
  top: 182px;

  & h1 {
  }

  .slider-title {
    &__small {
      font-family: IBM Plex Sans, sans-serif;
      font-size: 36px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 20px;
      color: #abd373;
      text-transform: uppercase;
    }
    &__bold {
      font-family: IBM Plex Sans, sans-serif;
      font-size: 90px;
      font-weight: 600;
      line-height: 90px;
      margin-bottom: 20px;
      color: #333;
    }
    &__light {
      font-family: IBM Plex Sans, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 25px;
      color: #333;
      width: 65%;
    }
  }
}
.lenght-text {
  max-width: 690px;
  width: 100%;
}

.lenght-900 {
  max-width: 745px;
  width: 100%;
  text-align: center;
}
.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider-title__light {
    text-align: center;
  }
}
